<h1>{{product.title}}</h1>

<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>

<button onclick="agregarAlCarrito('{{product._id}}')">
  Agregar al carrito
</button>

<script>
  async function agregarAlCarrito(pid) {
    const cid = "PEGAR_ID_CARRITO";

    await fetch(`/api/carts/${cid}/products/${pid}`, {
      method: 'POST'
    });

    alert("Producto agregado al carrito");
  }
</script>